# exclude Visual Studio specific files
.vs
test.html
add-contact-old.html
index-old.html
landing-page.html
manager-old.html
register-old.html
login.html
add-contact.html
manager.html
search-contacts.html
update-contact.html
update-contact-old.html
code.js